body{
    background: #000000f6;
}
.wrapper{
    margin: 0 auto;
    width: 1440px;
    &_header{
        background: url(/img/завантаження\ 1.png);
        height: 1081px;
        &_textAndButton{
            padding-top: 405px;
            display: flex;
            width: 479px;
            height: 296px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            row-gap: 69px;
            &_title{
                width: 479px;
                font-family: 'Lobster', sans-serif;
                font-size: 64px;
                text-align: center;
                color: white
            }
            &_button{
                width: 329px;
                height: 67px;
                border-radius: 8px;
                background: linear-gradient(182deg, #F00 1.77%, rgba(77, 7, 7, 0.00) 98.24%);
                border: none;
                color: white;
                font-family: 'Lobster', sans-serif;
                font-size: 32px;
                cursor: pointer;
            }
        }
    }
    &_main{
        display: flex;
        height: 1597px;
        background: #0F0110;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 206px;
        border-bottom:2px solid #414040;
        &_card{
            display: flex;
            flex-direction: column;
            width: 400px;
            height: 550px;
            background: #333;
            text-align: center;
            row-gap: 13px;
            &_img{
                width: 100px;
                height: 293px;
            }
            &_name{
                font-family: 'Lobster Two', sans-serif;
                font-size: 31px;
                font-weight: 400;
                color: white;
            }
            &_price{
                color: white;
                font-family: 'Mako', sans-serif;
                font-size: 40px;
            }
            &_button{
                width: 216px;
                height: 50px;
                margin: 0 auto;
                background: linear-gradient(180deg, #E00000 0%, rgba(48, 48, 48, 0.00) 100%);
                border: none;
                color: white;
                font-family: 'Mako', sans-serif;
                font-size: 32px;
                cursor: pointer;
            }
        }
    }
    &_footer{
        display: flex;
        height: 408px;
        background: #0F0110;
        padding-top: 14px;
        column-gap: 80px;
        &_firstCont{
            display: flex;
            flex-direction: column;
            row-gap: 18px;
            color: white;
            &_contacts{
                font-family: 'Inter', sans-serif;
                font-size: 64px;
            }
            &_number{
                font-family: 'Inter', sans-serif;
                font-size: 48px;
            }
            &_email{
                font-family: 'Inter', sans-serif;
                font-size: 48px;
            }
        }
        &_secodCont{
            display: flex;
            flex-direction: column;
            width: 422px;
            height: 220px;
            color: rgb(246, 246, 246);
            row-gap: 23px;
            &_schedule{
                font-family: 'Inter', sans-serif;
                font-size: 48px;
            }
            &_days{
                font-family: 'Inter', sans-serif;
                font-size: 48px;
            }
            &_weekend{
                font-family: 'Inter', sans-serif;
                font-size: 48px;
            }
        }
    }
}