.buyProduct{
    display: flex;
    height: 1597px;
    background: #0F0110;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 206px;
    border-bottom:2px solid #414040;
}
.Basket{
    display: flex;
    height: 1597px;
    background: #0F0110;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 206px;
    border-bottom:2px solid #414040;
}