.header{
    background: url(/img/завантаження\ 1.png);
    height: 1081px;
    &_textAndButton{
        padding-top: 405px;
        display: flex;
        width: 479px;
        height: 296px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 69px;
        &_title{
            width: 479px;
            font-family: 'Lobster', sans-serif;
            font-size: 64px;
            text-align: center;
            color: white
        }
        &_button{
            width: 329px;
            height: 67px;
            border-radius: 8px;
            background: linear-gradient(182deg, #F00 1.77%, rgba(77, 7, 7, 0.00) 98.24%);
            border: none;
            color: white;
            font-family: 'Lobster', sans-serif;
            font-size: 32px;
            cursor: pointer;
        }
    }
}